<html>
    <head>
        <title>Create your Blog</title>
    </head>
    <body>
        <form method="POST">
            <div>
                <span>Name of Blog </span>
                <input type="text" name="name">
            </div>
            <div>
                <span>Description of Blog </span>
                <input type="text" name="description">
            </div>
            <div>
                <span>Description2 of Blog </span>
                <input type="text" name="description2">
            </div>
            <input type="submit" value="Send">
        </form>
    </body>

</html>