<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet"> 
    <title>Snake Game</title>
</head>
<body>
   <div class="box"> 
    <form action="/register" method="POST">
        <div class="image">
             <img src="/static/images/SnakeGame_logo.jpg" alt="Snake Game">
        </div>
            <div id="register_text">REGISTER</div> 
            <span class="span_text">Nick</span>
            <input type="text" id="login" name="nick" minlength="5" required="required">
            <span class="span_text">Login</span>
            <input type="text" id="login" name="login" minlength="5" required="required">
            <span class="span_text">Password</span>
            <input type="password" id="password" name="password" minlength="6" required="required">
            <span class="span_text" id="email_span">Email</span>
            <input type="email" id="email" name="email" required="required">
            <input type="submit" value="Sign Up" id="submit" name="submit">
            <a href="/login" id="log">If you have an account, log in</a>
    </form>
    
    {% if message %}
            <p style="color: #e1513e; max-width='200px'; text-align: center;">{{message}}</p>  
    {% endif %}
    
   </div>
   <footer id="footer">
      
   </footer>
</body>
</html>
